[Unit]
Description=run Sentinel service every 30 seconds

[Timer]
OnBootSec=30sec
OnUnitActiveSec=30sec
AccuracySec=1sec
Persistent=true

[Install]
WantedBy=timers.target
