[Unit]
Description=Run service_status script every 60 seconds

[Timer]
OnBootSec=60sec
OnUnitActiveSec=60sec
Persistent=true

[Install]
WantedBy=timers.target
